@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

html {
  background-color: pink;
  padding-left: 20px;
}

img{
  border-radius: 30px;
}

h1 {
  color: white;
  font-family: "Playwrite RO", cursive;
  text-align: center;

}

p{
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px
}

h3 {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}